@font-face {
  font-family: Bold;
  src: url('../fonts/proxima_nova_bold-webfont.woff');
}
@font-face {
  font-family: Regular;
  src: url('../fonts/proxima_nova_regular-webfont.woff');
}
@font-face {
  font-family: Semi-Bold;
  src: url('../fonts/proxima_nova_semibold-webfont.woff');
}
@font-face {
  font-family: Light;
  src: url('../fonts/mark_simonson_-_proxima_nova_light-webfont.woff');
}

$theme-color: #063e81;

h1 {
  font-family: Bold;
  font-size: 50px;

  @media (max-with: 576px) {
    padding-right: 20px;
    padding-right: 20px;
  }
}

h3 {
  font-family: Semi-Bold;
}

p {
  font-family: Light;
  color: rgb(97, 97, 97);
  line-height: 1.3;
  text-align: justify;
  padding-right: 80px;
  font-size: 14px;
  margin: 0;

  @media (max-width: 768px) {
    padding-right: 40px;
    padding-bottom: 20px;
  }
}

.white-text {
  color: white;
}

.big-row {
  @media (max-width: 768px) {
    margin-right: 0;
    margin-left: 0;
  }
}

.logo {
  @media (max-width: 768px) {
    margin-left: 20px;
  }
}

$btn-border-color: white;
$button-padding: 15px 80px 15px 80px;
@mixin button($button-padding, $btn-border-color) {
  /*A mixin for the buttons */
  text-transform: uppercase;
  padding: $button-padding;
  border: 2px solid $btn-border-color;

  &:hover {
    background: white;
    color: blue;
  }
  :active {
    outline: none !important;
  }
}

$background-btn-lnk: white;
@mixin btn-link($background-btn-lnk: true) {
  /*A mixin for the link buttons (info cards) */
  @if $background-btn-lnk {
    /* if bg is not white, make the font color of the button white  */
    color: $theme-color;
  } @else {
    color: white;
  }
  background: $background-btn-lnk;
  margin-top: 30px;
  border: none;
}

@mixin for-img() {
  /*Some repeting lines for the images */
  background-attachment: scroll;
  background-size: cover;
  box-sizing: content-box;
  background-repeat: no-repeat;
  background-position: center center;
}

.subtitle {
  font-family: Light;
  @media (min-width: 320px) and (max-width: 768px) {
    margin-left: 20px;
    margin-right: 60px;
  }
}
.header {
  @include for-img();
  height: 60%;
  position: absolute;
  background-image: url('../img/singapore-skyline-in-evening-PZ9YNNM.jpg');
  z-index: 0;

  @media (max-width: 500px) {
    height: 100%;
  }
}

.overlay {
  position: absolute;
  min-height: 100%;
  min-width: 100%;
  left: 0;
  top: 0;
  background: rgb(9 28 70 / 82%);
}

.middle-text {
  margin-top: 150px;
  @media (max-width: 768px) {
    margin-top: 200px;
    margin-left: 20px;
  }

  @media (min-height: 736px) and (max-width: 420px) {
    margin-top: 350px;
    margin-left: 20px;
  }
}

.card {
  h4,
  small {
    font-family: Light;
  }
  h6 {
    font-family: Light;
    font-weight: 500;
    letter-spacing: 0.1em;
  }

  padding: 15px 10px 15px 10px;
  box-shadow: 2px 12px 35px -1px rgba(0, 0, 0, 0.14);

  @media (max-width: 768px) {
    margin-top: 40px;
  }
}

.form-group {
  font-family: Light;

  .form-control {
    border-radius: 0;
    border: 1px solid rgba(170, 170, 170, 0.274);
  }
}

.g-recaptcha {
  @media (max-width: 420px) {
    transform: scale(0.9);
    margin-left: -12px;
  }
}

.content-row {
  padding: 15px;
  padding-bottom: 20px;
}

.btn {
  @include button($button-padding, $btn-border-color);
}

.btn-primary {
  $button-padding: 20px 70px 20px 70px;

  @include button($button-padding, $btn-border-color);
  $btn-primary-color: #4fb6aa;
  background: $btn-primary-color;
  border: none;

  &:hover {
    background: white;
    color: #4fb6aa;
    box-shadow: inset 0px 0px 0px 2px #4fb6aa;
  }
  h6 {
    margin-bottom: 0;
  }
}

.btn-outline-single {
  color: #7695dc;
  border: 2px solid #4a90e2;
  margin: 40px;
  margin-top: 60px;
  &:hover {
    background: #4a90e2;
    color: white;
  }
}

.bullet-points {
  color: $theme-color;
  li:before {
    content: '✓';
  }
}

ul {
  padding-left: 0;
  padding-right: 80px;

  font-family: Regular;
  list-style: none;
}

.wide-blue-box {
  @include for-img();
  height: auto;
  background-image: url('../img/bg_new.png');
  margin-top: 10%;
  margin-bottom: 10%;
}

.blue-row-content {
  margin-right: 20px;
  margin-top: 5%;
  margin-bottom: 5%;
  min-width: 325px;

  h4 {
    font-family: Semi-Bold;
  }
  h6 {
    font-family: Light;
    margin-bottom: 0;
  }
}

.image-container {
  @include for-img();
  height: 37vh;
  background-image: url('../img/shutterstock_742230118.jpg');

  @media (max-width: 768px) {
    padding-right: 20px;
    margin-left: 20px;
  }
}

.info-card {
  padding: 20px;
  padding-right: 0;
  border: none;
  box-shadow: -15px -8px 119px -77px rgba(0, 0, 0, 0.66);
  border-radius: 0;
  font-family: Regular;

  .btn-link {
    @include btn-link($background-btn-lnk);
  }
}

.blue-block {
  background: #0d518c;
  margin-top: 10px;
  margin-bottom: 10px;
  h5 {
    padding-right: 20px;
  }
  .btn-link {
    background: #0d518c;
    @include btn-link($background-btn-lnk: false);
  }
}
.card-wrapper-col {
  padding-right: 0;
}

.footer {
  margin-top: 100px;
  font-size: 14px;
  background: #00032e;
  padding: 20px;
  font-family: Light;

  p {
    padding-right: 0;
    text-align: left;
  }
  .footer-title {
    padding-top: 10px;
    padding-bottom: 10px;
  }
}

.footer-box {
  width: calc(100% / 4);
  @media (max-width: 546px) {
    width: auto;
  }
}

.btn-footer {
  padding: 10px 60px 10px 60px;
  border: 1px solid rgba(255, 255, 255, 0.584);

  @media (max-width: 546px) {
    margin-bottom: 20px;
    margin-top: 20px;
  }

  h6 {
    margin-bottom: 0;
  }
}
.form-control-footer {
  background: none;
  border: none;
  border-bottom: 1px solid rgba(255, 255, 255, 0.584);
  margin-bottom: 10px;
  width: 90%;
}

.list-unstyled {
  li {
    &:hover {
      border-bottom: 1px solid rgba(255, 255, 255, 0.584);
    }
  }
}

::placeholder {
  color: white;
}

.social {
  border-top: 1px solid rgba(255, 255, 255, 0.219);
  margin-top: 30px;
  padding: 10px;
  padding-right: 0;
  font-size: 1.5em;
  @media (max-width: 576px) {
    justify-content: center !important;
  }
}

.fb-ic,
.li-ic {
  color: white;
  margin-top: 5px;
}
.remove-mobile {
  @media (max-width: 546px) {
    display: none;
  }
}

.fa-bars {
  font-size: 1.5rem;
  @media (min-width: 546px) {
    opacity: 0;
  }
}
